.core {
  background: #000;

  position: absolute;
  border-radius: 100px;

  width:  5px;
  height: 5px;

  left: 50%;
  top:  30%;
}
.MainMeat {
  background: red;
  position: absolute;
  z-index: 1;
  width: 70px;
  height: 70px;
  background: red;
  border-radius: 100px;
}
.MainMeatOne {
  left: 55%;
  top: 10%;
}
.WhiteEye {
  position: absolute;
  z-index: 2;
  width: 40px;
  height: 40px;
  background: white;
  border-radius: 100px;
}
.WhiteEyeOne {
  left: 55%;
  top: 11%;
}

.blueEye {
  position: absolute;
  z-index: 3;
  width: 15px;
  height: 15px;
  background: blue;
  border-radius: 100px;
}
.blueEyeOne {
  left: 1070px;
  top: 110px;
}
