* {
  background: #000;
  color: #fff;
}
.container {
  background: #111;
  margin-right: auto;
  margin-left: auto;

  margin-top: 5%;
  max-width: 300px;
  min-height: 700px;

  padding-right: 10px;
  padding-left: 10px;
}
