.MainMeat {
  background: red;
  position: absolute;
  z-index: 1;
  width: 70px;
  height: 70px;
  background: red;
  border-radius: 100px;
}
.MainMeatOne {
  left: 55%;
  top: 10%;
}
.MainMeatTwo {
  left: 60%;
  top: 40%;
}
.MainMeatThree {
  left: 50%;
  top: 45%;
}
.MainMeatFour {
  left: 13%;
  top: 22%;
}
.MainMeatFive {
  left: 13%;
  top: 27%;
}
